{% extends "jury/base.html.twig" %}

{% block body %}
    <h1> Nuevo cuestionario </h1>
    
    <form enctype="multipart/form-data" action="{{ path('jury_create_quiz') }}" method="POST" name="add_contest">
        <br>
        <label for="id_name">Nombre:</label>
        <input type="text" id="id_name" name="name" required>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}